<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta Creada</title>
</head>
<body>
    <main>
        <section class="cre">
            <div class="creo">
                <p>La cuenta ha sido creada con éxito</p>
            </div>
            <div class="lol">
                <a href=""><p>Regresar al menú de administrador</p></a>
            </div>
        </section>
    </main>
</body>
</html>